<table class="generaltable" data-datatable=true>
	<thead>
		<tr>
			<th>Time</th> 
			<th>User full name</th> 
			<th>Affected user</th>
            <th>Context</th> 
            <th>Component</th>
            <th>Event name</th>
            <th>Description</th>
            <th>Origin</th>
            <th>IP address</th>
		</tr>
	</thead>
</table>